@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0; 
}

img {
    width: 100%;
}

/* navbar */

.logo{
    margin: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff;
    opacity: 0.8; */
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    opacity: 0.7;
    background-color: #666;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: pink;
}

.navbar ul{
    display: flex;
}



.navbar ul li a{
    margin: 0 5px;
    padding: 10px 20px;
}

.navbar ul li a:hover{
    background-color: black;
    opacity: 0.7;
    color: white;
}

.navbar .logo {
    font-weight: 400;
}

/* header */

.showcase {
    background: url(../img/showcase_header.jpg) no-repeat center center/cover;
    height: 100vh;
    
}

.showcase.blog {
    background: url(../img/blog_header.jpg) no-repeat center center/cover;
    height: 30vh;
}

.showcase.blog::before {
    height: 30vh;
}

.showcase .showcase-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.showcase .showcase-content h1 {
    font-size: 55px;
}

.showcase .showcase-content p {
    font-size: 32px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.cases img:hover {
    opacity: 0.7;
}

#team img{
    border-radius: 50%;
}

/* callback form */

.callback-form{
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: white 1px solid;
}

.callback-form input:focus {
    outline-color: black;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}


/* post */
.post {
    padding: 50px 30px;
}

.post h2{
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

.post .meta {
    margin-bottom: 30px;
}

.post img{
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 200px;
}

.footer i:hover {
    color: pink;
}

.footer p {
    color: white;
}

.footer a{
    color: white;
}

.footer .social > * {
    margin-right: 30px;
}

/* mobile */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items-container {
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    .team img {
        width: 70%;
    }

}